<!DOCTYPE html>
<html>
  <head>
    <title>OpenHiveManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'static_pages', "https://fonts.googleapis.com/css?family=Rancho|Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,700italic,800" %>
    <%= javascript_include_tag 'static_pages', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
